# Service to stop the server with the timers

[Unit]
Description=Stop Minecraft Server %i

[Service]
Type=oneshot

ExecStart=systemctl stop minecraft@%i
