# service to start servers with the timers
# replace the your-server with the names you are using

[Unit]
Description=Start Minecraft Servers

[Service]
Type=oneshot

# ExecStart=systemctl start minecraft@your-server
