# Timer for starting servers
# TODO: Put time in a config file

[Unit]
Description=Starts Minecraft servers in the morning

[Timer]
Unit=minecraft-start-servers.service
OnCalendar=*-*-* 10:00:00

[Install]
WantedBy=timers.target
