# Service to stop the servers with the timers
# Add the servers you are using to this file

[Unit]
Description=Stop Minecraft Servers

[Service]
Type=oneshot

# ExecStart=systemctl stop minecraft@your-server
